$brand-color: #6555DF;

.auth-container {
    & .auth-component-header {
        height: 70px;
        border-bottom: 1px solid black;
        padding-top: 0;
        padding-left: 4%;
        background-color: #fff;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        // fixed to top
        margin: 0;
        position: fixed;
        width: 100%;
        top: 0;
        //
        & h2 {
            margin: 0;
            color: $brand-color;
            margin: auto 0;
            font-size: 24px;
        }
    }

    & .auth-connection-container {
        padding-top: 100px;
    }
}

.auth-error-message-container {
    & p {
        margin-top: 1%;
        text-align: center;
        color: red;
    }
}

/* Tablet styling */
@media only screen and (min-width: 768px) {
    
}
  
/* Desktop styling */
@media only screen and (min-width: 1024px) {
    .auth-container {
        & .auth-component-header {
            border-bottom: 1px solid black;
            padding-top: 0;
            padding-left: 4%;
            // fixed to top
            position: relative;
            //
            & h2 {
                margin: auto 0;
                font-size: 24px;
            }
            & .auth-connection-container {
                padding-top: 70px;
            }
        }  
    }   
}
  
/* Desktop Large styling */
@media only screen and (min-width: 1440px) {}